[workspace]
authors = ["keanesc <145848994+keanesc@users.noreply.github.com>"]
channels = ["conda-forge"]
name = "recyclable-material-detection"
platforms = ["linux-64", "win-64"]
version = "0.1.0"

[tasks]
clone = { cmd = "git clone https://github.com/pedropro/TACO.git" }
download = { cmd = "python download.py", cwd = "TACO", depends-on = ["clone"] }
prepare = { cmd = "python prepare_dataset.py" }
train = { cmd = "python train_waste_detector.py" }
inference = { cmd = "python waste_detector.py path/to/image.jpg" }
all = { depends-on = ["prepare", "train", "inference"] }

[dependencies]
python = ">=3.12.0,<3.13"

[feature.cpu.pypi-dependencies]
torch = { version = ">=2.9.0", index = "https://download.pytorch.org/whl/cpu" }
torchvision = { version = ">=0.24.0", index = "https://download.pytorch.org/whl/cpu" }

[feature.gpu]
system-requirements = { cuda = "13.0" }

[feature.gpu.pypi-dependencies]
torch = { version = ">=2.9.0", index = "https://download.pytorch.org/whl/cu130" }
torchvision = { version = ">=0.24.0", index = "https://download.pytorch.org/whl/cu130" }

[environments]
gpu = { features = ["gpu"] }
default = { features = ["cpu"] } # Make CPU the default environment

[pypi-dependencies]
ultralytics = ">=8.3.223, <9"
